h4 Pidela.info
p Una pregunta fue creada en http://pidela.info usando este e-mail
p el link es #{questionPath}
p para futuros cambios se le pedira el 
	b Código de Autor, 
	| por favor guardar este e-mail
p el Código de Autor es #{authorSecret}