h4 Pidela.info
p Una pregunta que tu creaste en http://pidela.info ha sido respondida
p para poder aceptar la respuesta o responde a la Entidad del Estado por favor visitar el siguiente link
p  #{questionPath}